.cart-list-wrapper {
    transition: box-shadow 0.1s ease-in;
    box-shadow: 2px 0 5px 2px transparent;
    border-radius: 0;
    border: 0 solid black;
  
    &:hover {
    transition: box-shadow 0.1s ease-in;
    box-shadow: 2px 0 5px 2px transparent;
    }
  }
  
  .table-container {
    overflow: auto;
    margin: 50px 0px 50px 10px;
  }
  
  button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid rgb(231, 50, 50);
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
  }
  
  button:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .3s;
  }
  
  svg {
    color: rgb(231, 50, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
  
  button:focus svg {
    opacity: 0;
    transition: .3s;
  }

  .submitbutton {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #0d6efd;
    overflow: hidden;
    border: none;
    transition: .3s;
  }
  .submitbutton:hover {
    background-color: #0d6efd;
    transform: scale(1.2);
    transition: .3s;
  }
