.active {
  background: darkblue;
}

.notification_count {
  position: absolute;
  top: -4px;
  right: -1px;
  background-color: red;
  border-radius: 7px;
  cursor: pointer;
}

.notification_count span {
  color: white;
  text-align: center;
  font-size: x-small;
  left: 0px;
  right: 0;
  top: -1px;
  font-weight: bold;
  padding: 5px 5px;
  position: relative;
}

.admin-panel-button {
  border: none;
  height: 60%;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ffffff;

&:hover {
   background-color: #ffffff;

   border-bottom: 2px solid #0339A6;
 }


mat-icon {
  color: #0339A6 !important;
}

.admin-panel-text {
  color: #0339A6;
  height: 100%;
  margin: auto 10px auto 10px;
}
}

.admin-panel-wrapper {

  display: flex;
  justify-content: space-around;
}
